:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

a,
a:hover {
  text-decoration: inherit;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
}
.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.login {
  background-color: #ffffff;
}
.card {
  background-color: #ffffff;
  /* padding: 2rem; */
  width: 50%;
  height: 70%;
  border: solid 1px #bbbbbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0rem;
}
.btn-login {
  margin: 2rem 0rem;
}
.footer {
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.span {
  color: #4e4e4e;
  font-size: 1rem;
  margin: 1.5rem 0rem;
}
.span a {
  text-decoration: underline;
}

.line {
  width: 12%;
  height: 4px;
  background-color: #2f88ff;
}

@media screen and (max-width: 650px) {
  .card {
    width: 70%;
  }
  .line {
    width: 20%;
  }
  .span {
    font-size: .8rem;
  }
}
